main {
	section {
		ul {
			border: 1px black solid;
			border-radius: 3px;
			height: auto;
			width: fit-content;
			padding: 30px;
			font-size: larger;
			font-weight: bolder;
			list-style-type: none;
		}

		.row {
			display: flex;
			text-align: center;
		}

	}



	.informacionCursos {
		text-align: center;
		font-size: 30px;
	}

	.padre-carousel {
		width: 100%;
	}


	.parrafo {
		font-size: 20px;
		margin: 30px;
		text-align: justify;
		background-color: #abd9f8;
	}
	.contacto {
		color: red;
		text-transform: uppercase;
		font-size: 25px;
	}
	
	.form-control {
		width: 60%;
		margin: auto;
		display: block;
	}
	
	.form-label {
		font-size: 20px;
		font-weight: 200;
	}
	
	.linkTel {
		color: black;
	}


}